//
// About
//

.about {
  border-top: 1px solid $gray-light;
  padding: ($section-padding-y-phone - 14px) 0 ($section-padding-y-phone -  8px) 0;

  @media (min-width: $sm) {
    padding-top: $section-padding-y - 19px;
    padding-bottom: $section-padding-y - 8px;
  }

  .container-fluid {
    max-width: 789.33px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: $sm) {
      text-align: center;
    }
  }

  .lead {
    margin-bottom: ($section-padding-y-phone * 3 / 4) - 12px;

    @media (min-width: $sm) {
      width: 83.333%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: ($section-padding-y * 3 / 4) - 12px;
    }
  }

  .about-text {
    margin: 0 0 ($section-padding-y-phone * 3 / 4 - 18px) 0;

    @media (min-width: $sm) {
      margin-bottom: $section-padding-y * 3 / 4 - 18px;
    }

    &:not(.lead) {
      @media (min-width: $sm) {
        columns: 2;
        column-gap: $grid-column-gap;
      }
    }
  }

  @keyframes marquee {
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  .marquee {
    display: flex;

    ul {
      flex: 1 0 815px;
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      animation: marquee 30s linear infinite;

      // 64px spacing in 320px viewport
      @include tween(
        815px,
        866px,
        320px,
        947px,
        flex-basis
      );

      @media (min-width: 947px) {
        max-width: 866px;
        animation: none;
      }

      @media (min-width: $lg) {
        max-width: 994.67px;
        justify-content: space-around;
      }

      & + ul {
        @media (min-width: 947px) {
          display: none;
        }
      }
    }

    a,
    svg {
      display: block;
    }

    svg {
      path {
        transition: fill 0.25s ease;
      }

      &:not(:hover) {
        path {
          fill: $gray;

          &.digits {
            fill: #939399;
          }

          &.stroke {
            fill: #b6b6ba;
          }
        }
      }
    }

    .digital-scholar-logo {
      margin-top: 11px;
    }

    .rrchnm-logo {
      margin-top: 12px;
    }

    .mellon-logo {
      margin-top: 3px;
    }
  }
}
