//
// Download
//

tpy-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 81px;

  @media (min-width: $sm) {
    min-height: 87px;
  }

  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes show-delayed {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
    }
  }

  .btn {
    margin: 0;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: 600;
    padding: 10px 16px;
    border: 2px solid $white;
    border-radius: 6px;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: $blue;
        background-color: $white;
      }
    }

    @include focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px $white;
    }

    > * {
      pointer-events: none;
    }
  }

  .package {
    padding: 0;
    overflow: hidden;
    position: relative;

    .content,
    .feedback {
      transition: transform 0.15s ease;
    }

    .content {
      display: block;
      font-family: $font-family-monospace;
      padding: 10px 16px;

      @include state(".package.success, .package.failure") {
        transform: translateY(-100%);
      }
    }

    .feedback {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 100%;
      padding: 10px 16px 10px (16px + 42px);
      font-weight: 800;

      @include state(".package.success, .package.failure") {
        transform: translateY(-100%);
      }
    }
  }

  .spinner {
    display: none;

    @include state("tpy-download:defined") {
      display: block;
      width: $space-lg;
      height: $space-lg;
      border-radius: 50%;
      border: 2px solid $white;
      border-right-color: transparent;
      margin-top: $space-sm;
      animation:
        show-delayed 0.5s step-end forwards,
        spinner 1s linear infinite 0.5s;
    }
  }

  .legacy {
    animation: show-delayed 3s step-end forwards;

    @include state("tpy-download:defined") {
      display: none;
    }
  }

  .download {
    margin-bottom: ($space-lg - 6px);

    > .btn strong {
      font-weight: 800;
    }
  }

  .btn-email {
    margin-bottom: (18px - 6px);

    @media (min-width: $sm) {
      margin-bottom: ($space-lg - 6px);
    }
  }

  .release-notes {
    font-size: 14px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;

    &:focus {
      outline-color: $white;
    }
  }
}
