//
// Features
//

.features {
  padding: $section-spacing-y-phone 0 ($section-spacing-y-phone - 6px) 0;

  @media (min-width: $sm) {
    padding: $section-spacing-y 0 ($section-spacing-y - 6px);
  }

  .col-md-5 {
    @include tween(
      0px,
      24px,
      $sm,
      $container-fluid-max-width / ($container-fluid-width / 100%),
      padding-left, padding-right
    );
  }

  h2 {
    text-align: center;
    margin-top: -14px;
    margin-bottom: $section-spacing-y-phone * 3 / 4 - 8px; // 2.5% optical correction

    @media (min-width: $sm) {
      margin-top: -19px;
      margin-bottom: $section-spacing-y * 3 / 4 - 14px;
    }
  }

  img {
    display: block;
    width: 128px * 3 / 4;
    height: 128px * 3 / 4;
    margin: 0 auto ($space-xl - 10px);

    @media (min-width: $sm) {
      width: initial;
      height: initial;
      margin-bottom: $space-xl - 12px;
    }
  }

  h3 {
    text-align: center;
    margin: 0 0 10px;

    @media (min-width: $sm) {
      margin-bottom: 12px;
    }
  }

  .feature {
    p {
      color: $gray-dark;
      margin: 0;

      @media (min-width: $sm) {
        text-align: center;
      }
    }

    &:first-child {
      margin-bottom: ($section-spacing-y-phone * 5 / 8) - 7px;

      @media (min-width: $sm) {
        margin-bottom: 0;
      }
    }
  }
}
