//
// Hero
//

.hero {
  margin-top: -$header-height-mobile;
  background: linear-gradient($blue-dark, $blue, tint($blue-light, 40%) calc(100% - 80px));
  padding-top: $header-height-mobile + $space-xl;
  color: $white;
  margin-bottom: $section-spacing-y-phone + 96px + 32px; // 32px: compensation for illustration
  position: relative;

  @media (pointer: coarse), (max-width: $sm - 1px) {
    padding-bottom: 110px; // 23px to highest summit
  }

  @media (min-width: $sm) {
    padding-top: $header-height + $space-xl;
    padding-bottom: 123px; // 560px height
    margin-top: -$header-height;
    margin-bottom: $section-spacing-y + 61px + 32px; // 32px: compensation for illustration
  }

  @media (pointer: coarse) and (min-width: $sm) {
    padding-bottom: 117px; // 30px to highest summit
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eye-catcher {
    position: absolute;
    text-indent: -99em;
    overflow: hidden;
    background: url("../images/eye-catcher@2x.png") no-repeat 0 0 / 100%;
    outline-color: $white;
    left: 50%;
    margin-left: 43px;
    top: 53px;
    width: 76px;
    height: 96px;

    @media (min-width: 360px) {
      margin-left: 92px;
      top: 84px;
    }

    @include tween(
      52px,
      0,
      $sm,
      $xl,
      margin-left
    );

    @media (min-width: $sm) {
      width: 101px;
      height: 128px;
      left: 72.5vw;
      top: 114px;
    }
  }

  h1 {
    width: 118px;
    height: 101px;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='118' height='101' viewBox='0 0 118 101'><polygon points='44 100.098 44 27 97.972 27 111.829 3 6.172 3 21.761 30 18.297 30 0.976 0 117.024 0 99.703 30 47 30 47 94.902 71 81.046 71 53.971 74 52.239 74 82.777 44 100.098' fill='%23fff'/></svg>") no-repeat 0 0;
    text-indent: -99em;
    overflow: hidden;
    margin: 0 auto;

    @media (min-width: $sm) {
      width: 156px;
      height: 134px;
      background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='156' height='134' viewBox='0 0 156 134'><polygon points='58 133.464 58 36 129.962 36 148.438 4 7.563 4 28.348 40 23.729 40 0.635 0 155.365 0 132.271 40 62 40 62 126.536 94 108.061 94 71.962 98 69.652 98 110.369 58 133.464' fill='%23fff'/></svg>") 0 0 no-repeat;
    }
  }

  .lead {
    font-size: 30px; // 3/4
    font-weight: 600;
    line-height: $headings-line-height;
    text-align: center;
    margin-top: 36px - 22px; // 3/4
    margin-bottom: 32px - 13px; // 3/4
    letter-spacing: -0.015em;
    color: inherit;

    @media (min-width: $sm) {
      font-size: 40px;
      margin-top: 36px - 17px;
      margin-bottom: 32px - 7px;
    }
  }

  tpy-download {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .download {
    margin-bottom: ($space-lg - 6px);
    min-height: $space-xxl;

    @media (pointer: coarse), (max-width: $sm - 1px) {
      display: none;
    }

    > .btn strong {
      font-weight: 800;
    }
  }

  .btn-email {
    margin-bottom: (18px - 6px);

    @media (pointer: fine) and (min-width: $sm) {
      display: none;
    }
  }

  .release-notes {
    font-size: 14px;
    font-weight: 600;
    color: inherit;
    margin-bottom: ($space-lg - 11px);
    text-decoration: none;

    @media (min-width: $sm) {
      margin-bottom: 0;
    }

    &:focus {
      outline-color: $white;
    }
  }

  .hero-illustration {
    position: absolute;
    right: 0;
    bottom: -250px;
    left: 0;
    height: 810px;
    pointer-events: none;
    background: url("../images/hero-illustration-mobile-part-2.png") no-repeat center bottom;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background:
        url("../images/hero-illustration-mobile-part-2@2x.png") no-repeat center bottom / 768px 810px;
    }

    @media (max-width: $sm - 1px) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../images/hero-illustration-mobile-part-1.png") no-repeat -418px bottom;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          background: url("../images/hero-illustration-mobile-part-1@2x.png") no-repeat -418px bottom / 768px 810px;
        }

        @include tween(
          -418px,
          0px,
          320px,
          $sm,
          background-position-x
        );
      }
    }

    @media (min-width: $sm) {
      background: url("../images/hero-illustration.png") no-repeat center bottom;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)  {
        background: url("../images/hero-illustration@2x.png") no-repeat center bottom / 3280px 810px;
      }
    }
  }
}
