//
// Hero
//

.hero {
  margin-top: -$header-height-mobile;
  background: linear-gradient($blue-dark, $blue, tint($blue-light, 40%) calc(100% - 80px));
  padding-top: $header-height-mobile + $space-xl;
  color: $white;
  margin-bottom: $section-spacing-y-phone + 96px + 32px; // 32px: compensation for illustration
  position: relative;
  padding-bottom: 123px; // 23px to highest summit

  @media (min-width: $sm) {
    padding-top: $header-height + $space-xl;
    margin-top: -$header-height;
    margin-bottom: $section-spacing-y + 61px + 32px; // 32px: compensation for illustration
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    width: 118px;
    height: 101px;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='118' height='101' viewBox='0 0 118 101'><polygon points='42 100.098 42 29 96.817 29 111.829 3 6.172 3 22.916 32 19.452 32 0.976 0 117.024 0 98.548 32 45 32 45 94.902 71 79.891 71 52.816 74 51.084 74 81.622 42 100.098' fill='%23fff'/></svg>") no-repeat 0 0;
    text-indent: -99em;
    overflow: hidden;
    margin: 0 auto;

    @media (min-width: $sm) {
      width: 156px;
      height: 134px;
      background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='156' height='134' viewBox='0 0 156 134'><polygon points='57 133.464 57 38 128.807 38 148.438 4 7.563 4 29.503 42 24.884 42 0.635 0 155.365 0 131.116 42 61 42 61 126.536 95 106.906 95 70.807 99 68.497 99 109.214 57 133.464' fill='%23fff'/></svg>") 0 0 no-repeat;
    }
  }

  .lead {
    font-size: 30px; // 3/4
    font-weight: 600;
    line-height: $headings-line-height;
    text-align: center;
    margin-top: 36px - 22px; // 3/4
    margin-bottom: 32px - 13px; // 3/4
    letter-spacing: -0.015em;
    color: inherit;

    @media (min-width: $sm) {
      font-size: 40px;
      margin-top: 36px - 17px;
      margin-bottom: 32px - 7px;
    }
  }

  .hero-illustration {
    position: absolute;
    right: 0;
    bottom: -250px;
    left: 0;
    height: 810px;
    pointer-events: none;
    background: url("../images/hero-illustration-mobile-part-2.png") no-repeat center bottom;
    z-index: 1;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background:
        url("../images/hero-illustration-mobile-part-2@2x.png") no-repeat center bottom / 768px 810px;
    }

    @media (max-width: $sm - 1px) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../images/hero-illustration-mobile-part-1.png") no-repeat -418px bottom;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          background: url("../images/hero-illustration-mobile-part-1@2x.png") no-repeat -418px bottom / 768px 810px;
        }

        @include tween(
          -418px,
          0px,
          320px,
          $sm,
          background-position-x
        );
      }
    }

    @media (min-width: $sm) {
      background: url("../images/hero-illustration.png") no-repeat center bottom;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)  {
        background: url("../images/hero-illustration@2x.png") no-repeat center bottom / 3280px 810px;
      }
    }
  }
}
