//
// Make grid
//

@mixin make-grid($bp) {
  @for $i from 1 through 12 {
    .col-#{$bp}-#{$i} {
      flex: 0 0 ($i / 12 * 100%);
      max-width: $i / 12 * 100%;
    }

    .offset-#{$bp}-#{$i} {
      margin-left: $i / 12 * 100%;
    }
  }

  .order-#{$bp}-first {
    order: -1;
  }
}
