//
// Make grid
//

@mixin make-grid($bp) {
  @for $i from 1 through 12 {
    .col-#{$bp}-#{$i} {
      grid-column-end: span $i;
    }

    .start-#{$bp}-#{$i} {
      grid-column-start: $i;
    }
  }

  .order-#{$bp}-first {
    order: -1;
  }
}
