//
// Make grid
//

@mixin make-grid($bp) {
  @for $i from 1 through 12 {
    .col-#{$bp}-#{$i} {
      grid-column-end: span $i;
      grid-row: 1;
    }

    .start-#{$bp}-#{$i} {
      grid-column-start: $i;
    }
  }

  .justify-self-#{$bp}-end {
    justify-self: end;
  }
}
