//
// Tween
//

@mixin tween($original, $target, $start, $stop, $properties...) {
  @if is-percentage($target) {
    $range: $stop - $start;
    $diff: $original - $original * ($target / 100%);
    $factor: $diff / $range;

    @each $property in $properties {
      @media (min-width: $start) {
        #{$property}: calc(100% - (100vw - #{$start}) * #{$factor});
      }

      @media (min-width: $stop + 1px) {
        #{$property}: $target;
      }
    }
  }

  @if is-absolute-length($target) {
    $range: $stop - $start;
    $diff: $original - $target;
    $factor: $diff / $range;

    @each $property in $properties {
      @media (min-width: $start) {
        #{$property}: calc(#{$original} - (100vw - #{$start}) * #{$factor});
      }

      @media (min-width: $stop + 1px) {
        #{$property}: $target;
      }
    }
  }
}
