//
// Tween
//

@mixin tween($original, $from, $to, $start, $stop, $properties...) {
  $range: $stop - $start;
  $delta: $from - $to;
  $factor: $delta / $range;

  @each $property in $properties {
    @media (min-width: $start) {
      #{$property}: calc(#{$original} - (100vw - #{$start}) * #{$factor});
    }

    @media (min-width: $stop + 1px) {
      #{$property}: $to;
    }
  }
}
