<ul {{ include.attr }}>
  <li><a href="https://digitalscholar.org/" aria-label="Digital Scholar">{%- include digital-scholar-logo.svg -%}</a></li>
  <li><a href="https://rrchnm.org/" aria-label="Roy Rosenzweig Center for History and New Media">{%- include rrchnm-logo.svg -%}</a></li>
  <li><a href="https://www.c2dh.uni.lu/" aria-label="Luxembourg Centre for Contemporary and Digital History">{%- include cd2h-logo.svg -%}</a></li>
  <li><a href="https://mellon.org/" aria-label="The Andrew W. Mellon Foundation">{%- include mellon-logo.svg -%}</a></li>
</ul>
