<footer>
  <div class="container-fluid">
    <div class="page-nav-container">
      <h2 class="sr-only">Navigation</h2>
      <nav class="page-nav">
        <ul>
          <li><a href="/workshops">Workshops</a></li>
          <li><a href="/credits">Credits</a></li>
          <li><a href="/license">License</a></li>
          <li class="d-none d-sm-block"><a href="/brand">Brand</a></li>
          <li><a href="/jobs">Jobs</a></li>
        </ul>
      </nav>
    </div>
    <div class="social-nav-container">
      <h2>Follow us:</h2>
      <nav class="social-nav">
        <ul>
          <li><a href="https://tropy.org/blog/rss/">RSS</a></li>
          {%- if site.twitter_username -%}
            <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
          {%- endif -%}
        </ul>
      </nav>
    </div>
  </div>
</footer>
