<header class="main-header">
  <div class="container-fluid">
    <nav class="main-nav" aria-label="Main navigation">
      <ul>
        <li class="home"><a href="/" aria-label="Home">{%- include tropy-icon-small.svg -%} <span>Tropy</span></a></li>
        <li><a href="https://docs.tropy.org">User Guide</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://forums.tropy.org">Support</a></li>
        <li><a href="https://github.com/tropy/tropy">GitHub</a></li>
        <li><a class="btn btn-green btn-donate" href="/donate">Donate</a></li>
        <li><button class="btn-menu" aria-label="Toggle navigation" aria-controls="mobile-menu">{%- include menu-icon.svg -%}</button></li>
      </ul>
      <tpy-menu id="mobile-menu" class="mobile-menu" toggle=".btn-menu">
        <ul>
          <li><a href="https://docs.tropy.org">User Guide</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="https://forums.tropy.org">Support</a></li>
          <li><a href="https://github.com/tropy/tropy">GitHub</a></li>
          <li><a href="/workshops">Workshops</a></li>
          <li><a href="/credits">Credits</a></li>
          <li><a href="/license">License</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a class="btn btn-lg btn-green btn-donate" href="/donate">Donate</a></li>
        </ul>
        <button class="btn-close" aria-label="Close mobile navigation">{%- include icon-xmark.svg -%}</button>
      </tpy-menu>
    </nav>
  </div>
</header>
