<a href="https://source.chromium.org/chromium/chromium/src/+/master:LICENSE">Chromium</a>
<a href="https://raw.githubusercontent.com/electron/electron/master/LICENSE">Electron</a>
<a href="https://raw.githubusercontent.com/nodejs/node/master/LICENSE">Node.js</a>
<a href="https://sqlite.org/copyright.html">SQLite</a>
<a href="https://aomedia.org/license">aom</a>
<a href="https://cgit.freedesktop.org/cairo/tree/COPYING">cairo</a>
<a href="https://github.com/libexpat/libexpat/blob/master/expat/COPYING">expat</a>
<a href="https://gitlab.freedesktop.org/fontconfig/fontconfig/blob/master/COPYING">fontconfig</a>
<a href="https://git.savannah.gnu.org/cgit/freetype/freetype2.git/tree/docs/FTL.TXT">freetype</a>
<a href="https://raw.githubusercontent.com/fribidi/fribidi/master/COPYING">fribidi</a>
<a href="https://gitlab.gnome.org/GNOME/gdk-pixbuf/-/raw/master/COPYING">gdk-pixbuf</a>
<a href="https://git.savannah.gnu.org/gitweb/?p=gettext.git;a=blob_plain;f=COPYING;hb=refs/heads/master">gettext</a>
<a href="https://sourceforge.net/p/giflib/code/ci/master/tree/COPYING?format=raw">giflib</a>
<a href="https://gitlab.gnome.org/GNOME/glib/-/raw/master/COPYING">glib</a>
<a href="https://raw.githubusercontent.com/harfbuzz/harfbuzz/master/COPYING">harfbuzz</a>
<a href="https://raw.githubusercontent.com/ImageMagick/ImageMagick6/main/LICENSE">imagemagick</a>
<a href="https://raw.githubusercontent.com/mm2/Little-CMS/master/COPYING">lcms</a>
<a href="https://raw.githubusercontent.com/strukturag/libde265/master/COPYING">libde265</a>
<a href="https://raw.githubusercontent.com/libexif/libexif/master/COPYING">libexif</a>
<a href="https://raw.githubusercontent.com/libffi/libffi/master/LICENSE">libffi</a>
<a href="https://gitlab.gnome.org/GNOME/libgsf/-/raw/master/COPYING">libgsf</a>
<a href="https://raw.githubusercontent.com/strukturag/libheif/master/COPYING">libheif</a>
<a href="https://github.com/lovell/libimagequant/blob/main/COPYRIGHT">libimagequant</a>
<a href="https://github.com/glennrp/libpng/blob/master/LICENSE">libpng</a>
<a href="https://gitlab.gnome.org/GNOME/librsvg/-/raw/master/COPYING.LIB">librsvg</a>
<a href="https://github.com/randy408/libspng/blob/master/LICENSE">libspng</a>
<a href="https://libtiff.gitlab.io/libtiff/misc.html">libtiff</a>
<a href="https://raw.githubusercontent.com/libvips/libvips/master/COPYING">libvips</a>
<a href="https://chromium.googlesource.com/webm/libwebp/+/refs/heads/master/COPYING">libwebp</a>
<a href="https://gitlab.gnome.org/GNOME/libxml2/-/raw/master/Copyright">libxml2</a>
<a href="https://github.com/mozilla/mozjpeg/blob/master/LICENSE.md">mozjpeg</a>
<a href="https://raw.githubusercontent.com/uclouvain/openjpeg/master/LICENSE">openjpeg</a>
<a href="https://gitlab.freedesktop.org/gstreamer/orc/blob/master/COPYING">orc</a>
<a href="https://gitlab.gnome.org/GNOME/pango/-/raw/master/COPYING">pango</a>
<a href="https://cgit.freedesktop.org/pixman/tree/COPYING">pixman</a>
<a href="https://gitlab.freedesktop.org/poppler/poppler/-/raw/master/COPYING">poppler</a>
<a href="https://github.com/zlib-ng/zlib-ng/blob/develop/LICENSE.md">zlib-ng</a>