<ul {{ include.attr }}>
  <li><a class="electron-logo" href="https://www.electronjs.org/">{%- include electron.svg -%}</a></li>
  <li><a class="react-logo "href="https://reactjs.org/">{%- include react.svg -%}</a></li>
  <li><a class="pixijs-logo" href="https://www.pixijs.com/">{%- include pixijs.svg -%}</a></li>
  <li><a class="sqlite-logo" href="https://www.sqlite.org/">{%- include sqlite.svg -%}</a></li>
  <li><a class="prosemirror-logo" href="https://prosemirror.net/">{%- include prosemirror.svg -%}</a></li>
</ul>
