<ul>
  <li><a class="electron-logo" href="https://www.electronjs.org/" aria-label="Electron">{%- include electron.svg -%}</a></li>
  <li><a class="react-logo" href="https://reactjs.org/" aria-label="React">{%- include react.svg -%}</a></li>
  <li><a class="pixijs-logo" href="https://www.pixijs.com/" aria-label="PixiJS">{%- include pixijs.svg -%}</a></li>
  <li><a class="sqlite-logo" href="https://www.sqlite.org/" aria-label="SQLite">{%- include sqlite.svg -%}</a></li>
  <li><a class="prosemirror-logo" href="https://prosemirror.net/" aria-label="ProseMirror">{%- include prosemirror.svg -%}</a></li>
</ul>
