<figure class="illustration" aria-label="Tropy project icon surrounded by three notebooks">
  <div class="radial-gradient"></div>
  <img
    class="tpy-icon"
    src="/assets/images/tpy-icon.png"
    srcset="/assets/images/tpy-icon.png 1x, /assets/images/tpy-icon@2x.png 2x"
    alt="">
  <img class="notebook-1" src="/assets/images/notebook-1.svg" alt="">
  <img class="notebook-2" src="/assets/images/notebook-2.svg" alt="">
  <img class="notebook-3" src="/assets/images/notebook-3.svg" alt="">
  <div class="pixel-1 lg green"></div>
  <div class="pixel-2 blue-dark"></div>
  <div class="pixel-3 red"></div>
  <div class="pixel-4 blue-light"></div>
  <div class="pixel-5 blue-dark"></div>
  <div class="pixel-6 lg blue-light"></div>
  <div class="pixel-7 brown"></div>
  <div class="pixel-8 green"></div>
  <div class="pixel-9 lg green"></div>
  <div class="pixel-10 brown"></div>
  <div class="pixel-11 blue-dark"></div>
  <div class="pixel-12 blue-dark"></div>
  <div class="pixel-13 blue-light"></div>
  <div class="pixel-14 lg brown"></div>
  <div class="pixel-15 brown"></div>
  <div class="pixel-16 red"></div>
  <div class="pixel-17 blue-dark"></div>
  <div class="pixel-18 brown"></div>
  <div class="pixel-19 green"></div>
</figure>
