//
// Blog base
//

.blog {
  &.blog-home,
  &.blog-category {
    padding-bottom: $section-spacing-y-phone - 35px;

    @media (min-width: $sm) {
      padding-bottom: $section-spacing-y - 33px;
    }
  }

  .posts,
  .post {
    .container-fluid {
      @media (min-width: $sm) {
        max-width: $blog-max-width;
      }
    }
  }

  // Keep nav stable, ensure that the fragment-loading class is removed
  .posts {
    $footer-height-phone: 101px;
    $footer-height: 97px;

    min-height: calc(100vh - #{$footer-height-phone} - #{$section-spacing-y-phone - 35px});

    @media (min-width: $sm) {
      min-height: calc(100vh - #{$footer-height} - #{$section-spacing-y - 33px});
    }
  }
}
