//
// Category nav
//

.category-nav {
  display: flex; // Stretch category-list
  overflow-x: auto;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.08);
  margin: 0 0 ($blog-font-size * $blog-line-height + 6px) 0;
  position: sticky;
  top: 0;
  background-color: $white;

  @media (min-width: $sm) {
    display: flex;
    justify-content: center;
    box-shadow: none;
    margin: 0 0 34px 0; // Same spacing as between articles
    overflow-x: visible;

    &.stuck {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @-moz-document url-prefix() {
    & {
      scrollbar-width: none; // Hide scrollbar in Firefox
    }
  }

  ul {
    list-style: none;
    padding: 0 $space-xs;
    margin: 0;
    display: flex;

    @media (min-width: $sm) {
      justify-content: center;
      padding: 0;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);

      @include state(".category-nav.stuck") {
        box-shadow: none;
      }
    }
  }

  li {
    a {
      display: block;
      padding: $space-sm $space-xs ($space-sm + 1px);
      color: $gray;
      text-decoration: none;
      white-space: nowrap;

      @media (min-width: $sm) {
        padding: $space-sm $space-md;
      }
    }

    &.selected a {
      color: $body-color;
      box-shadow: inset 0 -1px 0 $black;

      @media (min-width: $sm) {
        box-shadow: 0 1px 0 $black;
      }
    }
  }
}
