//
// Brand
//

.brand {
  padding-bottom: $section-spacing-y-phone - 6px;

  @media (min-width: $sm) {
    padding-bottom: $section-spacing-y - 6px;
  }

  h1 {
    text-align: center;
    margin-top: 2 * $section-spacing-y-phone * 3 / 4 - 78px;
    margin-bottom: ($section-spacing-y-phone * 3 / 4) - 10px; // 2.5% Optical correction

    @media (min-width: $sm) {
      margin-top: 2 * $section-spacing-y * 3 / 4 - 115px;
      margin-bottom: $section-spacing-y * 3 / 4 - 14px; // 2.5% Optical correction
    }
  }

  img {
    display: block;
    width: 165px;
    max-width: 100%;
    height: auto;
    margin: auto;

    @media (min-width: $sm) {
      width: auto;
    }
  }

  .lead {
    color: inherit;
    margin-top: $section-spacing-y-phone * 3 / 4 - 13px; // 2.5% Optical correction

    @media (min-width: $sm) {
      text-align: center;
      margin-top: $section-spacing-y * 3 / 4 - 17px; // 2.5% Optical correction
    }
  }
}
