//
// Button group
//

.btn-group {
  display: flex;

  > .btn-group:not(:first-child) {
    margin-left: -2px;
  }

  > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn-group:not(:first-child) {
    > .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
