//
// Buttons
//

button {
  &:not(:disabled) {
    cursor: pointer;
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  line-height: $line-height-base;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 3px 12px;
  border-radius: 3px;

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn-lg {
  padding: 11px 16px;
  border-radius: 4px;
}

.btn-xl {
  padding: 19px 24px;
  border-radius: 5px;
}

.btn-check {
  position: absolute;
  clip: rect(0 0 0 0);
  pointer-events: none;
}

.btn-form {
  color: $body-color;
  background-color: $white;
  border: 1px solid #ddd;

  &:focus,
  .btn-check:focus + & {
    .key & {
      outline: none;
      box-shadow: 0 0 0 2px $brand-primary;
    }
  }

  &.active,
  .btn-check:checked + & {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: $white;
  }
}

// Standard button variants

.btn-hover-primary {
  @include button-variant(
    $color: $white,
    $bg: $brand-primary,
    $hover-bg: lighten($brand-primary, 5%)
  );
}

.btn-hover-green {
  @include button-variant(
    $color: $white,
    $bg: $green,
    $hover-bg: lighten($green, 5%)
  );
}
