//
// Credits
//

.credits {
  @media (min-width: $sm) {
    text-align: center;
  }

  h1 {
    margin-top: 2 * $section-spacing-y-phone * 3 / 4 - 78px;

    @media (min-width: $sm) {
      margin-top: 2 * $section-spacing-y * 3 / 4 - 115px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .contributors {
    overflow: hidden;

    h2 {
      margin-top: ($section-spacing-y-phone * 3 / 4) - 41px;
      margin-bottom: $section-spacing-y-phone * 9 / 16 - 12px;

      @media (min-width: $sm) {
        margin-top: $section-spacing-y - 53px;
        margin-bottom: $section-spacing-y * 3 / 4 - 14px;
      }
    }

    ul {
      @media (min-width: $sm) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    li {
      flex: 0 0 25%;
      margin-bottom: $font-size-base;


      @media (min-width: $sm) {
        flex: 0 0 50%;
        margin-bottom: 72px - 14px;
      }

      @media (min-width: $md) {
        flex: 0 0 33.33%;
      }

      @media (min-width: $xl) {
        flex: 0 0 25%;
      }
    }
  }

  .contributor {
    font-size: 20px;
    margin: 0;
    line-height: $headings-line-height;
    margin: 0 0 3px 0;

    @media (min-width: $sm) {
      font-size: $font-size-large;
      margin-bottom: 6px;
    }
  }

  .description {
    color: $gray-dark;
    margin: 0;

    small {
      font-size: 96%;
    }
  }

  .software,
  .platforms {
    svg {
      display: block;

      .colorize {
        @media (hover: none) {
          fill: $gray-dark;
        }

        @media (hover: hover) {
          transition: fill 0.25s ease;

          @include state("svg:not(:hover)") {
            fill: $gray-dark;
          }
        }
      }

      .colorize-70 {
        @media (hover: none) {
          fill: mix($gray-dark, $white, 70%);
        }

        @media (hover: hover) {
          transition: fill 0.25s ease;

          @include state("svg:not(:hover)") {
            fill: mix($gray-dark, $white, 70%);
          }
        }
      }
    }
  }

  .software {
    overflow: hidden;

    h2 {
      margin-top: $section-spacing-y-phone - 32px;
      margin-bottom: $section-spacing-y-phone * 9 / 16 - 25px;

      @media (min-width: $sm) {
        margin-top: 2 * $section-spacing-y * 3 / 4 - 76px;
        margin-bottom: $section-spacing-y * 3 / 4 - 19px; // x-height of React
      }

      @media (min-width: $lg) {
        margin-bottom: $section-spacing-y * 3 / 4 - 25px; // x-height of React
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: ($section-spacing-y-phone * 9 / 16);

      @include tween(
        54px,
        94px,
        768px,
        ($lg - 1px),
        column-gap
      );

      @media (min-width: $sm) {
        width: 100%;
        max-width: 700px;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: $section-spacing-y * 9 / 16 - 15px;
        flex-wrap: wrap;
      }

      @media (min-width: $lg) {
        width: initial;
        max-width: initial;
        column-gap: initial;
        justify-content: space-around;
      }
    }

    li {
      flex: 0 0 auto;
    }

    a {
      display: block;
      position: relative;
    }

    .electron-logo {
      top: 1px;

      @media (max-width: $sm - 1px) {
        margin-top: 7px;
      }
    }

    .react-logo {
      @media (max-width: $sm - 1px) {
        margin-top: -20px;
      }
    }

    .pixijs-logo {
      top: -2px;

      @media (max-width: $sm - 1px) {
        margin-top: -14px;
      }
    }

    .sqlite-logo {
      top: -5px;

      @media (max-width: $sm - 1px) {
        margin-top: -11px; // Middle between square and caps
      }
    }

    .prosemirror-logo {
      top: -1px;

      @media (max-width: $sm - 1px) {
        margin-top: -22px;
      }
    }
  }

  .platforms {
    overflow: hidden;
    padding-bottom: 31px;

    h2 {
      margin-top: $section-spacing-y-phone - 14px;
      margin-bottom: $section-spacing-y-phone * 9 / 16 - 15px;

      @media (min-width: $sm) {
        margin-top: 2 * $section-spacing-y * 3 / 4 - 26px; // Baseline of React
        margin-bottom: $section-spacing-y * 3 / 4 - 17px; // Height of GitBook
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: ($section-spacing-y-phone * 9 / 16);

      @include tween(
        54px,
        94px,
        768px,
        ($lg - 1px),
        column-gap
      );

      @media(min-width: $sm) {
        row-gap: initial;
        flex-direction: row;
      }

      @media (min-width: $lg) {
        column-gap: calc((100% - 732px) / 10 * 2); // Space between software logos
      }
    }

    a {
      display: block;
      position: relative;
    }

    .gitbook-logo {
      svg {
        width: auto;
        height: 42px;
      }
    }

    .transifex-logo {
      top: 6px;

      @media (max-width: $sm - 1px) {
        margin-top: -25px;
      }

      img {
        width: auto;
        height: 49px;

        @media (hover: none) {
          filter: grayscale(1);
          opacity: 0.68;
        }

        @media (hover: hover) {
          transition: filter 0.25s ease, opacity 0.25s ease;

          @include state("img:not(:hover)") {
            filter: grayscale(1);
            opacity: 0.68;
          }
        }
      }
    }
  }

  .photo-credits {
    overflow: hidden;
    padding-bottom: $section-spacing-y-phone - 7px;

    @media (min-width: $sm) {
      padding-bottom: 2 * $section-spacing-y * 3 / 4 - 8px;
    }

    h2 {
      margin-top: $section-spacing-y-phone - 16px - 31px; // Middle between baselines
      margin-bottom: 18px;

      @media (min-width: $sm) {
        margin-top: 2 * $section-spacing-y * 3 / 4 - 30px - 31px;
        margin-bottom: $font-size-large;
      }
    }

    ul {
      @media (min-width: $sm) {
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    li {
      font-size: 18px;

      @media (min-width: $sm) {
        font-size: $font-size-large;
      }

      & + li {
        margin-top: 9px;

        @media (min-width: $sm) {
          margin-top: ceil($font-size-large / 2);
        }
      }
    }
  }
}
