//
// Credits
//

.credits {
  @media (min-width: $sm) {
    text-align: center;
  }

  h1 {
    margin-top: 2 * $section-spacing-y-phone * 3 / 4 - 78px;

    @media (min-width: $sm) {
      margin-top: 2 * $section-spacing-y * 3 / 4 - 115px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .contributors {
    h2 {
      margin-top: ($section-spacing-y-phone * 3 / 4) - 16px;
      margin-bottom: $section-spacing-y-phone * 9 / 16 - 12px;

      @media (min-width: $sm) {
        margin-top: $section-spacing-y - 20px;
        margin-bottom: $section-spacing-y * 3 / 4 - 14px;
      }
    }

    ul {
      @media (min-width: $sm) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    li {
      flex: 0 0 25%;
      margin-bottom: $font-size-base;


      @media (min-width: $sm) {
        flex: 0 0 50%;
        margin-bottom: 72px - 14px;
      }

      @media (min-width: $md) {
        flex: 0 0 33.33%;
      }

      @media (min-width: $xl) {
        flex: 0 0 25%;
      }
    }
  }

  .contributor {
    font-size: 20px;
    margin: 0;
    line-height: $headings-line-height;
    margin: 0 0 3px 0;

    @media (min-width: $sm) {
      font-size: $font-size-large;
      margin-bottom: 6px;
    }
  }

  .description {
    color: $gray-dark;
    margin: 0;
  }

  .software {
    overflow: hidden;
    padding-bottom: 1px; // Prevent clipped electron outline

    h2 {
      margin-top: $section-spacing-y-phone * 3 / 4 - 32px;
      margin-bottom: $section-spacing-y-phone * 9 / 16 - 23px;

      @media (min-width: $sm) {
        margin-top: 2 * $section-spacing-y * 3 / 4 - 76px;
        margin-bottom: $section-spacing-y * 3 / 4 - 25px; // x-height of React
      }
    }

    .marquee {
      display: flex;

      @media(min-width: $lg) {
        justify-content: center;
      }
    }

    ul {
      flex: 0 0 1000px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      animation: marquee 30s linear infinite;

      @media (min-width: $lg) {
        flex: 0 0 $container-fluid-width;
        max-width: $container-fluid-max-width;
        animation: none;
      }

      @mixin styles {
        animation: none;

        @media (max-width: $sm - 1px) {
          flex-basis: auto;
          flex-direction: column;
          align-items: flex-start;
          gap: ($section-spacing-y-phone * 9 / 16);
          padding: 0 ($grid-column-gap / 2);
          margin-bottom: 8px;
        }

        @media (min-width: $sm) and (max-width: $lg - 1px) {
          flex-basis: auto;
          flex-direction: column;
          gap: ($section-spacing-y * 9 / 16);
          padding: 0 ($grid-column-gap / 2);
          margin-bottom: 8px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .key & {
        @include styles;
      }

      @media (prefers-reduced-motion) {
        @include styles;
      }

      & + ul {
        @media (min-width: $lg) {
          display: none;
        }

        .key & {
          display: none;
        }

        @media (prefers-reduced-motion) {
          display: none;
        }
      }
    }

    li {
      flex: 0 0 auto;
    }

    a {
      display: block;
      position: relative;
    }

    svg {
      display: block;

      .colorize {
        @media (hover: none) {
          fill: $gray-dark;
        }

        @media (hover: hover) {
          transition: fill 0.25s ease;

          @include state("svg:not(:hover)") {
            fill: $gray-dark;
          }
        }
      }

      .colorize-70 {
        @media (hover: none) {
          fill: mix($gray-dark, $white, 70%);
        }

        @media (hover: hover) {
          transition: fill 0.25s ease;

          @include state("svg:not(:hover)") {
            fill: mix($gray-dark, $white, 70%);
          }
        }
      }
    }

    .electron-logo {
      top: 1px;

      @media (max-width: $sm - 1px) {
        .key & {
          margin-top: 7px;
        }

        @media (prefers-reduced-motion) {
           margin-top: 7px;
        }
      }

      @media (min-width: $sm) and (max-width: $lg - 1px) {
        .key & {
          margin-top: 5px;
        }

        @media (prefers-reduced-motion) {
          margin-top: 5px;
        }
      }

    }

    .react-logo {
      @media (max-width: $lg - 1px) {
       .key & {
          margin-top: -20px;
        }

       @media (prefers-reduced-motion) {
          margin-top: -20px;
        }
      }
    }

    .pixijs-logo {
      top: -2px;

      @media (max-width: $lg - 1px) {
        .key & {
          margin-top: -14px;
        }

        @media (prefers-reduced-motion) {
          margin-top: -14px;
        }
      }
    }

    .sqlite-logo {
      top: -5px;

      @media (max-width: $lg - 1px) {
        .key & {
          margin-top: -11px; // Middle between square and caps
        }

        @media (prefers-reduced-motion) {
          margin-top: -11px;
        }
      }
    }

    .prosemirror-logo {
      top: -1px;

      @media (max-width: $lg - 1px) {
        .key & {
          margin-top: -22px;
        }

        @media (prefers-reduced-motion) {
          margin-top: -22px;
        }
      }
    }
  }

  .photo-credits {
    padding-bottom: $section-spacing-y-phone - 7px;

    @media (min-width: $sm) {
      padding-bottom: 2 * $section-spacing-y * 3 / 4 - 8px;
    }

    h2 {
      margin-top: $section-spacing-y-phone * 3 / 4 - 23px;
      margin-bottom: 18px;

      @media (min-width: $sm) {
        margin-top: 2 * $section-spacing-y * 3 / 4 - 25px;
        margin-bottom: $font-size-large;
      }
    }

    ul {
      @media (min-width: $sm) {
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    li {
      font-size: 18px;

      @media (min-width: $sm) {
        font-size: $font-size-large;
      }

      & + li {
        margin-top: 9px;

        @media (min-width: $sm) {
          margin-top: ceil($font-size-large / 2);
        }
      }
    }
  }
}
