//
// Donate page
//

.donate {
  padding-bottom: $section-spacing-y-phone - 21px;

  @media (min-width: $sm) {
    padding-bottom: $section-spacing-y - 22px;
  }

  .col-text {
    @media (min-width: $md) {
      margin-right: -$grid-column-gap;
    }
  }

  .tropy-icon {
    display: block;
    margin: auto;
    margin-top: 2 * $section-spacing-y-phone * 3 / 4 - $header-height-mobile - 4px;
    margin-bottom: $section-spacing-y-phone * 3 / 4 - 14px - 4px;
    width: 192px * 3 / 4;
    height: auto;

    @media (min-width: $sm) {
      width: auto;
      margin-top: $space-xl - 5px;
      margin-bottom: $section-spacing-y * 3 / 4 - 5px;
    }
  }

  h1 {
    margin: 0;

    @media (min-width: $sm) {
      margin-top: -19px;
    }
  }

  .lead {
    text-align: left;

    @media (min-width: $sm) {
      margin-top: $font-size-large;
    }
  }

  p {
    color: $gray-dark;
  }

  & ~.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
