.donate {
  main {
    padding-bottom: $section-spacing-y-phone - 21px;

    @media (min-width: $sm) {
      padding-bottom: $section-spacing-y - 22px;
    }
  }

  .col-text {
    @media (min-width: $md) {
      margin-right: -$grid-column-gap;
    }
  }

  .tropy-icon {
    display: block;
    margin: auto;
    margin-top: 2 * $section-spacing-y-phone * 3 / 4 - $header-height-mobile - 4px;
    margin-bottom: $section-spacing-y-phone * 3 / 4 - 14px - 4px;
    width: 192px * 3 / 4;
    height: auto;

    @media (min-width: $sm) {
      width: auto;
      margin-top: $space-xl - 5px;
      margin-bottom: $section-spacing-y * 3 / 4 - 5px;
    }
  }

  h1 {
    margin: 0;

    @media (min-width: $sm) {
      margin-top: -19px;
    }
  }

  .lead {
    text-align: left;

    @media (min-width: $sm) {
      margin-top: $font-size-large;
    }
  }

  p {
    color: $gray-dark;
  }
}

tpy-donations {
  display: block;
  margin-top: $section-spacing-y-phone * 3 / 4 - 6px;
  margin-bottom: $space-xxl - 10px;

  @media (min-width: $sm) {
    margin-top: $section-spacing-y * 3 / 4 - 6px;
    margin-bottom: $space-xxxl - 7px;
  }

  @media (min-width: $md) {
    margin-top: 0;
  }

  .frequency {
    margin-bottom: $space-lg;
  }

  .amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: $space-lg;

    @media (min-width: $sm) {
      grid-template-columns: repeat(6, 1fr);
      margin-bottom: $space-xxl;
    }

    @media (min-width: $md) and (max-width: $xl - 1px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .btn-form {
      @media (max-width: $sm - 1px) {
        &:nth-of-type(odd) {
          margin-left: 0;
        }

        &:nth-child(2) {
          border-bottom-left-radius: 0;
        }

        &:nth-child(4) {
          border-top-right-radius: 4px !important;
        }

        &:nth-child(n+6) {
          margin-top: -1px;
        }

        &:nth-child(10) {
          border-top-right-radius: 0;
          border-bottom-left-radius: 4px;
        }
      }

      @media (min-width: $md) and (max-width: $xl - 1px) {
        &:nth-child(2) {
          border-bottom-left-radius: 0;
        }

        &:nth-child(6) {
          border-top-right-radius: 4px !important;
        }

        &:nth-child(8) {
          margin-left: 0;
          border-bottom-left-radius: 4px;
        }

        &:nth-child(n+8) {
          margin-top: -1px;
        }

        &:nth-child(10) {
          border-top-right-radius: 0;
        }
      }

      &.other {
        grid-column-end: span 2;
      }
    }

    &.monthly {
      @include state("tpy-donations:not(:defined)") {
        display: none;
      }
    }
  }

  .btn-donate {
    @include button-variant(
      $color: $white,
      $bg: mix($blue, $blue-dark, 50%),
      $hover-bg: $blue
    );
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: $font-size-large;
    line-height: #{$line-height-base}rem;
  }
}

tpy-editable-radio {
  display: flex !important;
  justify-content: center;
  align-items: center;

  &[is-active] {
    cursor: text;
  }
}

.auto-resizer {
  flex: 0 0 auto;
  max-width: 100%;
  position: relative;

  .currency {
    position: absolute;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  [type="number"] {
    -moz-appearance: textfield;
  }

  .content {
    min-height: $font-size-base * $line-height-base;
    padding: 0 3px 0 12px;
    text-align: left;
    min-width: 15px;
    max-width: 100%;
    visibility: hidden;
  }

  input {
    position: absolute;
    inset: 0;
    max-width: 100%;
    font: inherit;
    line-height: inherit;
    padding: 0 0 0 12px; // Keep 3px empty space for iOS caret
    border: 0;
    margin: 0;
    background-color: transparent;
    color: inherit;
    text-align: left;

    @include focus-visible {
      outline-color: $white;
    }
  }
}

