.donate {
  padding-bottom: $section-spacing-y-phone - 21px;

  @media (min-width: $sm) {
    padding-bottom: $section-spacing-y - 22px;
  }

  .col-text {
    @media (min-width: $md) {
      margin-right: -$grid-column-gap;
    }
  }

  .tropy-icon {
    display: block;
    margin: auto;
    margin-top: 2 * $section-spacing-y-phone * 3 / 4 - $header-height-mobile - 4px;
    margin-bottom: $section-spacing-y-phone * 3 / 4 - 14px - 4px;
    width: 192px * 3 / 4;
    height: auto;

    @media (min-width: $sm) {
      width: auto;
      margin-top: $space-xl - 5px;
      margin-bottom: $section-spacing-y * 3 / 4 - 5px;
    }
  }

  h1 {
    margin: 0;

    @media (min-width: $sm) {
      margin-top: -19px;
    }
  }

  .lead {
    text-align: left;

    @media (min-width: $sm) {
      margin-top: $font-size-large;
    }
  }

  p {
    color: $gray-dark;
  }

  .hidden {
    display: none;
  }
}

tpy-donations {
  display: block;
  margin-top: $section-spacing-y-phone * 3 / 4 - 6px;
  margin-bottom: $space-xxl - 10px;

  @media (min-width: $sm) {
    margin-top: $section-spacing-y * 3 / 4 - 6px;
    margin-bottom: $space-xxxl - 7px;
  }

  @media (min-width: $md) {
    margin-top: 0;
  }

  .alert {
    margin-bottom: $space-lg;
  }

  .frequency {
    margin-bottom: $space-lg;
  }

  .amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: $space-lg;

    @media (min-width: $sm) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: $md) and (max-width: $xl - 1px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .btn-form {
      @media (max-width: $sm - 1px) {
        &:nth-of-type(odd) {
          margin-left: 0;
        }

        &:nth-child(2) {
          border-bottom-left-radius: 0;
        }

        &:nth-child(4) {
          border-top-right-radius: 4px !important;
        }

        &:nth-child(n+6) {
          margin-top: -1px;
        }

        &:nth-child(10) {
          border-top-right-radius: 0;
          border-bottom-left-radius: 4px;
        }
      }

      @media (min-width: $md) and (max-width: $xl - 1px) {
        &:nth-child(2) {
          border-bottom-left-radius: 0;
        }

        &:nth-child(6) {
          border-top-right-radius: 4px !important;
        }

        &:nth-child(8) {
          margin-left: 0;
          border-bottom-left-radius: 4px;
        }

        &:nth-child(n+8) {
          margin-top: -1px;
        }

        &:nth-child(10) {
          border-top-right-radius: 0;
        }
      }

      &.other {
        grid-column-end: span 2;
      }
    }

    &.monthly {
      @include state("tpy-donations:not(:defined)") {
        display: none;
      }
    }
  }

  .form-control {
    margin-bottom: $space-lg;
  }

  .btn-donate {
    @include button-variant(
      $color: $white,
      $bg: mix($blue, $blue-dark, 50%),
      $hover-bg: $blue
    );
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: $font-size-large;
    line-height: #{$line-height-base}rem;
    margin-top: $space-lg;

    @media (min-width: $sm) {
      margin-top: $space-xxl;
    }

    &::before {
      box-sizing: border-box;
      content: "";
      display: inline-block;
      width: 24px;
      height: 15px;
      border: 2px solid $white;
      border-top-width: 3px;
      border-bottom-width: 9px;
      border-radius: 2px;
      margin-right: 12px;
    }
  }
}

tpy-editable-radio {
  display: flex !important;
  justify-content: center;
  align-items: center;

  &[is-active] {
    cursor: text;
  }
}

.auto-resizer {
  flex: 0 0 auto;
  max-width: 100%;
  position: relative;

  .currency {
    position: absolute;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  [type="number"] {
    -moz-appearance: textfield;
  }

  .content {
    min-height: $font-size-base * $line-height-base;
    padding: 0 3px 0 12px;
    text-align: left;
    min-width: 15px;
    max-width: 100%;
    visibility: hidden;
  }

  input {
    position: absolute;
    inset: 0;
    max-width: 100%;
    font: inherit;
    line-height: inherit;
    padding: 0 0 0 12px; // Keep 3px empty space for iOS caret
    border: 0;
    margin: 0;
    background-color: transparent;
    color: inherit;
    text-align: left;

    @include focus-visible {
      outline-color: $white;
    }
  }
}

.modal.payment {
  .modal-content {
    background-color: $white;
    max-width: 360px;
    border-radius: 10px;
  }

  .modal-header {
    padding: 20px $space-lg;
    border-bottom: 1px solid $gray-light;

    @media (min-width: $sm) {
      padding: 20px $space-xl;
    }
  }

  .btn-close {
    background: url("../images/close-icon-payment-modal.svg") no-repeat center transparent;
    width: 32px;
    height: 32px;
    padding: 0;
    top: 16px;
    right: 8px;

    @media (min-width: $sm) {
      top: 16px;
      right: 16px;
    }
  }

  .modal-title {
    font-size: $font-size-large;
    text-align: center;
  }

  .modal-body {
    padding: $space-lg $space-xs;

    @media (min-width: $sm) {
      padding: $space-xl;
    }
  }
}

.donate ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#payment-section {
  .form-control {
    margin-bottom: 24px;
  }

  .result-message {
    text-align: center;

    .heart-icon {
      display: block;
      margin: -5px auto;

      @media (min-width: $sm) {
        margin: -6px auto;
      }
    }

    h2 {
      margin: 12px 16px;

      @media (min-width: $sm) {
        margin: 12px 0;
      }
    }

    p {
      margin: 18px 16px;

      @media (min-width: $sm) {
        margin: 24px 0;
      }
    }

    .btn {
      margin: 0 16px;
      width: calc(100% - 32px);

      @media (min-width: $sm) {
        margin: 0;
        width: 100%;
      }
    }
  }

  #stripe-testkey-flag {
    background-color: rgba(255, 255, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
  }

  #card-error {
    color: $red;
    margin: 4px 0 0 0;
    font-size: 14px;

    &:empty {
      display: none;
    }
  }

  #card-element {
    border-radius: 4px;
    padding: 14px 16px;
    border: 1px solid #ddd;
    height: 48px;
    width: 100%;
    background: $white;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &.StripeElement--focus {
      border: 1px solid $brand-primary;
      box-shadow: 0 0 0 2px $brand-primary;
    }

    &.StripeElement--complete {
      border: 1px solid $green;

      &.StripeElement--focus {
        box-shadow: 0 0 0 2px $green;
      }
    }

    &.StripeElement--invalid {
      border-color: $red;

      &.StripeElement--focus {
        box-shadow: 0 0 0 2px $red;
      }
    }
  }

  .btn {
    display: block;
    width: 100%;
  }

  .spinner {
    color: $white;
    font-size: 16px;
    line-height: 24px;
    text-indent: -99em;
    margin: 0px auto;
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid currentColor;
    border-color: currentColor transparent;
    border-radius: 50%;
    animation: loading 1.2s infinite linear;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
