//
// Dropdown
//

tpy-dropdown {
  display: flex;
  z-index: $z-index-dropdown;
  position: relative;

  &:not(:defined) {
    display: none;
  }
}

tpy-dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: $white;
  padding: $space-xs 0;
  margin-top: $space-min;
  border-radius: 6px;
  box-shadow: 0 16px 32px -16px rgba($blue-darkest, 0.5);
  display: none;

  &[is-open] {
    display: block;
  }
}

tpy-dropdown-toggle {
  display: flex;

  > * {
    pointer-events: none;
  }

  &::part(button) {
    &:focus {
      outline: none;
    }

    @include state("tpy-dropdown-toggle[is-open]") {
      color: $blue;
      background-color: $white;
      border-color: white;
    }

    @include variant("tpy-dropdown-toggle.dropdown-toggle-split") {
      padding-left: $space-sm;
      padding-right: $space-sm;
    }
  }
}

tpy-dropdown-item {
  &[disabled] {
    display: none;
  }

  &::part(a) {
    display: block;
    color: $body-color;
    padding: $space-min $space-md;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: none;
      background-color: $gray-lighter;
      text-decoration: none;
    }
  }
}

tpy-download-option {
  @extend tpy-dropdown-item;
}
