//
// Dropdown
//

tpy-dropdown {
  &:not(:defined) {
    display: none;
  }
}

.dropdown {
  display: flex;
  z-index: $z-index-dropdown;
  position: relative;

  .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $white;
    padding: $space-xs 0;
    margin-top: $space-min;
    border-radius: 6px;
    box-shadow: 0 16px 32px -16px rgba($blue-darkest, 0.5);
    display: none;

    &[is-open] {
      display: block;
    }
  }

  .dropdown-toggle {
    display: flex;

    .btn {
      &:focus {
        outline: none;
      }

      @include state(".dropdown-toggle[is-open]") {
        color: $blue;
        background-color: $white;
        border-color: white;
      }

      @include variant(".dropdown-toggle.dropdown-toggle-split") {
        padding-left: $space-sm;
        padding-right: $space-sm;
      }

      > * {
        pointer-events: none;
      }
    }
  }

  .dropdown-item {
    &[disabled] {
      display: none;
    }

    a,
    button {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      display: block;
      color: $body-color;
      background-color: transparent;
      padding: $space-min $space-md;
      white-space: nowrap;
      text-decoration: none;
      border: 0;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        background-color: $gray-lightest;
        text-decoration: none;

        .key & {
          outline: none;
        }
      }
    }
  }

  .separator {
    color: $body-color;
    border-top: 1px solid $gray-lighter;
    margin: $space-xs $space-md;
  }
}
