//
// File support
//

.file-support {
  border-top: 1px solid $gray-light;
  padding: $section-padding-y-phone 0 ($section-padding-y-phone - $space-min) 0;

  @for $i from 3 through 7 {
    @media (min-width: (16px + (96px * $i))) {
      padding-bottom: calc((#{$section-padding-y-phone - $space-min}) - ((100vw - #{$i * $file-support-icon-size}) / (#{$i + 1}) - 20px));
    }
  }

  @media (min-width: $sm) {
    padding: $section-padding-y 0 ($section-padding-y - $space-xl);
  }

  .container-fluid {
    max-width: $file-support-max-width;
  }

  h2 {
    margin-top: -14px;;
    margin-bottom: 0;

    @media (min-width: $sm) {
      margin-top: -19px;
    }
  }

  .lead {
    @include tween(
      100%,
      columns(10, $container-fluid-max-width),
      columns(10, $container-fluid-max-width) * 0.8,
      $sm,
      $container-fluid-max-width / ($container-fluid-width / 100%),
      width
    );
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, #{$file-support-icon-size});
    grid-template-rows: auto;
    grid-gap: 16px;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    margin-top: $section-padding-y-phone - 6px;

    @media (min-width: $sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 5 * ($file-support-icon-size + $space-xl);
      margin-top: $section-padding-y - 7px;
    }

    @media (min-width: $lg) {
      width: auto;
    }
  }

  li {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $file-support-icon-size;
    height: $file-support-icon-size - 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    background:
      linear-gradient(to bottom, $white, $white) no-repeat center / calc(100% - 6px) calc(100% - 6px) scroll,
      linear-gradient(to right, $blue-dark, $blue, $blue-light) no-repeat left bottom / auto auto fixed;
    border-radius: 3px;
    position: relative;

    @for $i from 3 through 7 {
      @media (min-width: (16px + (96px * $i))) {
        margin-bottom: calc((100vw - #{$i * $file-support-icon-size}) / (#{$i + 1}) - 16px);
      }
    }

    @media (min-width: $sm) {
      margin: 10px $space-md $space-xl $space-md;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      background: linear-gradient(to right, $blue-dark, $blue, $blue-light) no-repeat left bottom / auto auto fixed;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &::before {
      left: 12px;
      top: -10px;
      width: calc(100% - 24px);
    }

    &::after {
      left: 6px;
      top: -5px;
      width: calc(100% - 12px);
    }
  }
}
