//
// Header
//

header {
  color: $header-color;
  position: relative;
  z-index: $z-index-header;

  .home & {
    color: $header-home-color;
  }

  nav {
    margin: 0 (-$space-xs);

    @media (min-width: $sm) {
      margin: 0 (-$space-md);
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height-mobile;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $sm) {
      justify-content: space-between;
      height: $header-height;
    }
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: $space-sm $space-xs;
    white-space: nowrap;

    @media (min-width: $sm) {
      padding: $space-sm $space-md;
    }
  }

  .home {
    @media (min-width: $sm) {
      font-size: 24px;
      line-height: 1;
      margin-right: auto;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  .tropy-icon-small {
    margin-right: $space-xs;

    .home & {
      display: none;
    }
  }

  .mark-github {
    display: block;
    width: 20px;
    height: 20px;

    @media (min-width: $sm) {
      width: $space-xl;
      height: $space-xl;
    }
  }
}
