//
// Header
//

.main-header {
  flex: 0 0 auto;
  color: $header-color;
  position: relative;
  z-index: $z-index-header;

  @media (max-width: 359px) {
    letter-spacing: -0.02em;
  }

  &.inverse {
    color: $header-inverse-color;
  }

  .main-nav {
    margin: 0 (-$space-xs);

    @media (min-width: $sm) {
      margin: 0 (-$space-md);
    }

    > ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: $header-height-mobile;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: $sm) {
        height: $header-height;
      }

      > li {
        display: none;

        @media (min-width: $sm) {
          display: block;
        }

        &:first-child {
          display: block;
        }

        &:last-child {
          display: block;

          @media (min-width: $sm) {
            display: none;
          }
        }

        a,
        .btn-menu {
          display: block;

          @include focus-visible {
            outline-offset: -3px;
            outline-color: $focus-color;

            @include variant(".main-header.inverse") {
              outline-color: $white;
            }
          }
        }

        a:not(.btn) {
          color: inherit;
          padding: $space-sm $space-xs;
          white-space: nowrap;
          outline-offset: -3px;

          @media (min-width: $sm) {
            padding: $space-sm $space-md;
          }

          &:hover {
            text-decoration: none;
          }
        }

        &.home {
          @media (min-width: $sm) {
            font-size: 24px;
            line-height: 1;
            margin-right: auto;
          }

          a {
            display: flex;
            align-items: center;
          }

          span {
            display: none;

            @media (min-width: $sm) {
              display: inline;
            }
          }
        }

        .tropy-icon-small {
          @media (min-width: $sm) {
            margin-right: $space-xs;
          }
        }

        .btn-donate {
          margin: 0 $space-md;
        }

        .btn-menu {
          border: 0;
          background-color: transparent;
          padding: 8px;
          margin: 0 4px 0 0;
          color: inherit;
        }
      }
    }
  }
}
