//
// Header
//

.main-header {
  color: $header-color;
  position: relative;
  z-index: $z-index-header;

  @media (max-width: 359px) {
    letter-spacing: -0.02em;
  }

  .home &,
  .blog-home &,
  .blog-category & {
    color: $header-home-color;
  }

  nav {
    margin: 0 (-$space-xs);

    @media (min-width: $sm) {
      margin: 0 (-$space-md);
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: $header-height-mobile;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $sm) {
      justify-content: space-evenly;
      height: $header-height;
    }
  }

  a {
    display: block;
    color: inherit;
    padding: $space-sm $space-xs;
    white-space: nowrap;
    outline-offset: -3px;

    @media (min-width: $sm) {
      padding: $space-sm $space-md;
    }

    @include focus-visible {
      outline-offset: -3px;
      outline-color: $white;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .home {
    @media (min-width: $sm) {
      font-size: 24px;
      line-height: 1;
      margin-right: auto;
    }

    a {
      display: flex;
      align-items: center;
    }

    span {
      display: none;

      @media (min-width: $sm) {
        display: inline;
      }

      .home & {
        display: inline;
      }
    }
  }

  .tropy-icon-small {
    @media (min-width: $sm) {
      margin-right: $space-xs;
    }

    .home & {
      display: none;
    }
  }

  .github {
    a {
      padding-top: 14px;
      padding-bottom: 14px;

      @media (min-width: $sm) {
        padding-top: $space-xs;
        padding-bottom: $space-xs;
      }
    }
  }

  .mark-github {
    display: block;
    width: 20px;
    height: 20px;

    @media (min-width: $sm) {
      width: $space-xl;
      height: $space-xl;
    }
  }
}
