//
// Hero
//

.hero {
  margin-top: -$header-height-mobile;
  background: linear-gradient($blue-dark, $blue, tint($blue-light, 40%) calc(100% - 80px));
  min-height: 560px;
  padding-top: $header-height-mobile + $space-xl;
  text-align: center;
  color: $white;

  @media (min-width: $sm) {
    margin-top: -$header-height;
    padding-top: $header-height + $space-xl;
  }

  h1 {
    width: 156px;
    height: 134px;
    background: url("/assets/images/tropy-icon-4px.svg") no-repeat 0 0;
    text-indent: -99em;
    overflow: hidden;
    margin: 0 auto;
  }

  .lead {
    font-size: 40px;
    font-weight: 600;
    line-height: $headings-line-height;
    margin-bottom: 32px - 7px;
    letter-spacing: -0.015em;
  }

  .btn-download {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    padding: 10px 16px;
    border: 2px solid $white;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:hover {
      color: $blue;
      background-color: $white;
    }

    &:active {
      opacity: 0.84;
    }
  }
}
