//
// Hero
//

.hero {
  margin-top: -$header-height-mobile;
  background: linear-gradient($blue-dark, $blue, tint($blue-light, 40%) calc(100% - 80px));
  min-height: 560px;
  padding-top: $header-height-mobile + $space-xl;
  color: $white;

  @media (min-width: $sm) {
    margin-top: -$header-height;
    padding-top: $header-height + $space-xl;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    width: 156px;
    height: 134px;
    background: url("/assets/images/tropy-icon-4px.svg") no-repeat 0 0;
    text-indent: -99em;
    overflow: hidden;
    margin: 0 auto;
  }

  .lead {
    font-size: 30px; // 3/4
    font-weight: 600;
    line-height: $headings-line-height;
    text-align: center;
    margin-top: 36px - 12px;
    margin-bottom: 32px - 5px;
    letter-spacing: -0.015em;
    color: inherit;

    @media (min-width: $sm) {
      font-size: 40px;
      margin-top: 36px - 16px;
      margin-bottom: 32px - 7px;
    }
  }

  .btn {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    padding: 10px 16px;
    border: 2px solid $white;
    border-radius: 4px;
    margin-bottom: ($space-lg - 6px);
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: $blue;
        background-color: $white;
      }

      &:active {
        opacity: 0.84;
      }
    }

    @include focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px $white;
    }
  }

  .btn-download {
    @media (pointer: coarse), (max-width: $sm - 1px) {
      display: none;
    }
  }

  .btn-email {
    @media (pointer: fine) and (min-width: $sm) {
      display: none;
    }
  }

  .download-links {
    display: flex;

    @media (pointer: coarse), (max-width: $sm - 1px) {
      display: none;
    }
  }

  .download-link {
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    margin: 0 10px;

    @include focus-visible {
      outline-color: $white;
    }
  }
}
