//
// Jobs
//


.jobs {
  h1 {
    text-align: center;
    margin-top: 2 * $section-spacing-y-phone * 3 / 4 - 78px;
    margin-bottom: $section-spacing-y-phone * 3 / 4 - 6px;

    @media (min-width: $sm) {
      margin-top: 2 * $section-spacing-y * 3 / 4 - 115px;
      margin-bottom: $section-spacing-y * 3 / 4 - 8px;
    }
  }

  img {
    display: block;
    width: 255px; // 3/4
    margin: 0 auto;

    @media (min-width: $sm) {
      width: auto;
    }
  }

  &:not(.ad) {
    padding-bottom: $section-spacing-y-phone - 6px;

    @media (min-width: $sm) {
      padding-bottom: $section-spacing-y - 6px;
    }

    .lead {
      color: inherit;
      margin-top: $section-spacing-y-phone * 3 / 4 - 14px; // 2.5% Optical adjustment

      @media (min-width: $sm) {
        width: 100% * 5 / 6;
        margin-top: $section-spacing-y * 3 / 4 - 57px; // To maze
        margin-left: auto;
        margin-right: auto;
      }
    }

    span {
      &::before {
        content: " ";

        @media (min-width: $sm) {
          content: "\a0";
        }
      }
    }
  }

  &.ad {
    font-size: $blog-font-size;
    line-height: $blog-line-height;
    padding-bottom: $section-spacing-y-phone - 35px;

    @media (min-width: $sm) {
      padding-bottom: $section-spacing-y - 35px;
    }

    .container-fluid {
      @media (min-width: $sm) {
        max-width: $blog-max-width;
      }
    }

    h2 {
      font-size: 26px; // De Groot interpolation
      padding-top: $blog-font-size;
      margin: 0 0 -10px 0;
      text-align: center;

      @media (min-width: $sm) {
        font-size: 30px;
        padding-top: $blog-font-size * $blog-line-height;
      }
    }

    .lead {
      margin-top: $section-spacing-y-phone * 3 / 4 - 14px; // 2.5% Optical adjustment
      margin-bottom: $blog-font-size * $blog-line-height + 2px;
      text-align: left;

      @media (min-width: $sm) {
        margin-top: $section-spacing-y * 3 / 4 - 57px; // To maze
        text-align: left;
        letter-spacing: -0.01em;
        margin-bottom: $blog-font-size * $blog-line-height + 2px;
      }
    }

    p,
    ul {
      margin: ($blog-font-size * $blog-line-height) 0;
    }

    ul {
      list-style-type: "– ";

      @media (max-width: $sm - 1px) {
        padding-left: 40px * 5 / 8;
      }
    }

    a {
      color: mix($blue, $blue-dark, 50%);
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $gray-lighter;
    margin: 0 0 -3px 0;
  }
}
