//
// Jobs
//

.jobs {
  main {
    padding-bottom: $section-padding-y-phone - 6px;

    @media (min-width: $sm) {
      padding-bottom: $section-padding-y - 6px;
    }

    h1 {
      text-align: center;
      margin-top: 2 * $section-padding-y-phone * 3 / 4 - 78px;
      margin-bottom: $section-padding-y-phone * 3 / 4 - 6px;

      @media (min-width: $sm) {
        margin-top: 2 * $section-padding-y * 3 / 4 - 115px;
        margin-bottom: $section-padding-y * 3 / 4 - 8px;
      }
    }

    .lead {
      color: inherit;
      margin-top: $section-padding-y-phone * 3 / 4 - 16px; // 2.5% Optical adjustment

      @media (min-width: $sm) {
        width: 100% * 5 / 6;
        margin-top: $section-padding-y * 3 / 4 - 57px; // To maze
        margin-left: auto;
        margin-right: auto;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    span {
      &::before {
        content: " ";

        @media (min-width: $sm) {
          content: "\a0";
        }
      }
    }
  }
}
