//
// Key features
//

.key-features {
  padding: 64px 0;
  overflow: hidden;

  @media (min-width: $sm) and (max-width: $lg - 1px) {
    text-align: center;
  }

  h2 {
    margin-bottom: 0;

    @media (min-width: $sm) {
      text-align: center;
    }
  }

  section {
    padding: 64px 0;

    @media (min-width: $sm) and (max-width: $lg - 1px) {
      padding-top: 64px - 12px;
    }
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 20px;
    line-height: (4 / 3);
    color: #555;
    margin: 0;
    margin-top: 10px;

    @media (min-width: $sm) {
      font-size: 24px;
      line-height: 32px;
      margin-top: 12px;
    }

    @media (min-width: $sm) and (max-width: $lg - 1px) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px - 7px;
    }
  }

  .lead {
    font-size: 24px; // ~ 5/6
    margin-top: 12px;

    @media (min-width: $sm) {
      font-size: 28px;
      width: 87.5%;
      margin-top: 14px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $lg) {
      margin-bottom: 128px - 71px;
    }
  }

  img {
    max-width: 100%;
    height: auto;

    @media (min-width: $lg) {
      max-width: none;
    }
  }
}
