//
// License
//

.license {
  @media (min-width: $sm) {
    text-align: center;
  }

  main {
    padding-bottom: $section-spacing-y-phone - 7px;

    @media (min-width: $sm) {
      padding-bottom: $section-spacing-y - 8px;
    }

    > .container-fluid {
      @media (min-width: $sm) {
        max-width: 789px;
      }
    }

    h1 {
      margin-top: 2 * $section-spacing-y-phone * 3 / 4 - 78px;
      margin-bottom: $section-spacing-y-phone * 3 / 4 - 17px;

      @media (min-width: $sm) {
        margin-top: 2 * $section-spacing-y * 3 / 4 - 115px;
        margin-bottom: $section-spacing-y * 3 / 4 - 20px;
      }
    }

    h2 {
      margin-top: $section-spacing-y-phone * 3 / 4 - 17px;
      margin-bottom: 18px;

      @media (min-width: $sm) {
        margin-top: $section-spacing-y * 3 / 4 - 20px;
        margin-bottom: 21px;
      }
    }

    p {
      font-size: 18px;

      @media (min-width: $sm) {
        font-size: 21px;
      }
    }
  }

  .dependencies {
    display: block;
    font-size: 18px;
    margin-bottom: -2px;

    @media (min-width: $sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 21px;
      margin-bottom: 0;
    }
  }

  .dependency {
    display: inline;
    margin-right: $space-xs;
    line-height: 1.7;

    @media (min-width: $sm) {
      flex: 0 0 auto;
      line-height: inherit;
      margin-right: $space-md;
    }

    .license {
      display: none;
    }
  }
}

.modal.license {
  .modal-content {
    max-width: 823px;
    color: #9bebeb;
    border-radius: 10px;
    font-size: $font-size-base;
    background-color: $blue-darkest;
  }

  .modal-header {
    padding: 0 36px;

    @media (min-width: $sm) {
      padding: 0 24px;
    }

    .modal-title {
      font-size: 16px;
      line-height: 36px;
      font-weight: 700;
      text-align: center;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width: $sm) and (pointer: fine) {
        font-size: 13px;
        line-height: 24px;
      }
    }

    .btn-close {
      color: inherit;
      padding: 10px;
      -webkit-tap-highlight-color: transparent;

      @media (min-width: $sm) and (pointer: fine) {
        padding: 4px;
      }

      &:focus {
        outline: none;
      }
    }

    svg {
      @media (max-width: $sm - 1px), (pointer: coarse) {
        transform: scale(1.33);
      }
    }
  }

  .modal-body {
    text-align: left;
    padding: $space-md;

    pre {
      margin: 0;
      white-space: pre-line;
      overflow-wrap: break-word;

      @media (min-width: $sm) {
        white-space: pre-wrap;
      }
    }
  }
}


