//
// Mobile menu
//

.mobile-menu {
  position: absolute;
  top: ($grid-column-gap / 4);
  right: ($grid-column-gap / 4);
  left: ($grid-column-gap / 4);
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 32px;
  border-radius: 6px;
  opacity: 0;
  transform: scale(0.95);
  transform-origin: top center;
  pointer-events: none;
  transition: transform 0.25s ease, opacity 0.25s ease;
  box-shadow:
    0 0 32px 0px rgba($blue-darkest, 0.125),
    0 16px 32px -16px rgba($blue-darkest, 0.5);

  @media (min-width: $sm) {
    display: none;
  }

  &[is-open] {
    opacity: 1;
    transform: scale(1);
    pointer-events: initial;
  }

  .btn-toggle {
    align-self: flex-end;
    padding: 8px;
    border: 0;
    margin: -24px -24px -6px 0;
    background-color: transparent;
    border-radius: 3px;
    color: $body-color;

    @include focus-visible {
      outline-offset: -3px;
    }
  }

  ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      flex: 1 1 calc(50% - 15px);

      &:last-child {
        grid-column: 1 / 3;
        grid-row: 5;
      }
    }

    a,
    .btn {
      display: block;
      font-size: 18px;
    }

    a:not(.btn) {
      padding: $space-sm $space-md;
      color: $body-color;
      font-size: 18px;
      line-height: (4 / 3);
      white-space: nowrap;
      text-align: center;

      &:hover {
        text-decoration: none;
      }

      @include focus-visible {
        outline-offset: -3px;
      }
    }

    .btn-donate {
      margin-top: $space-sm + 5px;
    }
  }
}
