//
// Modal
//

dialog {
  border: initial;
  background-color: initial;
  width: initial;
  height: initial;
  max-width: initial;
  max-height: initial;
  padding: initial;
  margin: initial;
  overflow-x: hidden;
  overflow-y: auto;

  &::backdrop {
    background-color: rgba($white, 0.5);
  }
}

.modal-dialog {
  display: flex;
  justify-content: center;
  pointer-events: none;

  [centered] & {
    align-items: center;
    min-height: 100%;
  }

  [scrollable-phone] & {
    @media (max-width: $sm - 1px) {
      height: 100%;
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 16px);
  pointer-events: all;
  margin: $space-xs;
  overflow: hidden;

  @media (min-width: $sm) {
    width: calc(100% - 2 * #{$space-xl});
    margin: $space-xl;
  }

  [scrollable-phone] & {
    @media (max-width: $sm - 1px) {
      max-height: calc(100% - #{2 * $space-xs});
    }
  }
}

.modal-header {
  display: block;
  position: relative;

  .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
  }

  svg {
    vertical-align: top;
    pointer-events: none;
  }
}

.modal-title {
  margin: 0;
}

.modal-body {
  display: block;

  [scrollable-phone] & {
    @media (max-width: $sm - 1px) {
      overflow-y: auto;
    }
  }
}

body:has(.modal[is-open]) {
  overflow: hidden;
}
