//
// Modal
//

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;

  &.show {
    display: block;
  }
}

.modal-dialog {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  pointer-events: none;

  &.centered {
    align-items: center;
    min-height: 100%;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 16px);
  pointer-events: all;
  margin: $space-xs;
  overflow: hidden;

  @media (min-width: $sm) {
    width: calc(100% - 2 * #{$space-xl});
    margin: $space-xl;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($white, 0.5);
  z-index: $z-index-backdrop;

  &:focus {
    background-color: blue;
  }
}

.modal-open {
  overflow: hidden;
}
