//
// Not found
//

.not-found {
  main {
    padding-bottom: $section-spacing-y-phone - 6px;

    @media (min-width: $sm) {
      padding-bottom: $section-spacing-y - 6px;
    }
  }

  img {
    display: block;
    width: 240px;
    height: auto;
    margin: ($section-spacing-y-phone * 3 / 4 - 27px) auto 0;

    @media (min-width: $sm) {
      width: auto;
      margin-top: $section-spacing-y * 3 / 4 - 30px;
    }
  }

  .lead {
    color: $red;
    text-align: center;
    margin-top: $section-spacing-y-phone * 3 / 4 - 28px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.025em;

    @media (min-width: $sm) {
      margin-top: $section-spacing-y * 3 / 4 - 37px;
    }
  }
}

