//
// Portable projects
//

.portable-projects {
  --x: 50%;
  --y: calc(100% - (50vw - 16px));
  --r: 180px;

  background-color: #212121;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  color: $white;
  overflow: visible;
  padding-top: $section-padding-y;
  background-image:
    radial-gradient(
      circle at var(--x) var(--y),
      $blue-dark 0,
      $blue-dark var(--r),
      transparent var(--r)
    );

  @include tween(180px, 360px, 320px, $sm, --r);

  @media (min-width: $sm) {
    --y: calc(100% - 687px / 2);
    --r: 360px;
  }

  @media (min-width: $md) {
    --y: calc(50% + 56px);
  }

  @include tween(
    155px,
    0px,
    $md,
    $container-fluid-max-width / ($container-fluid-width / 100%),
    --x
  );

  @media (min-width: ($container-fluid-max-width / ($container-fluid-width / 100%))) {
    --x: calc((100% - #{$container-fluid-max-width}) / 2 + #{$container-fluid-max-width} * 0.75 + 8px);
  }

  .row {
    position: relative;
  }

  .col-md-6 {
    @media (min-width: $sm) {
      padding: $section-padding-y 0;
    }

    @include tween(
      0px,
      columns(2, $container-fluid-max-width) + $grid-column-gap,
      $sm,
      $container-fluid-max-width / ($container-fluid-width / 100%),
      padding-right
    );
  }

  h2 {
    margin: 0;
    position: relative;
    z-index: 1;

    @media (min-width: $sm) {
      margin: 0 0 ($section-padding-y * 1 / 1 - $section-padding-y - 20px);
      text-align: left;
    }

    @media (min-width: $md) {
      text-align: center;
    }
  }

  h3 {
    margin: 0 0 12px;
  }

  p {
    color: #bbb;
    font-size: 24px;
    line-height: (4 / 3);
    margin: 0;
    letter-spacing: -0.01em;

    & + h3 {
      margin-top: $space-lg;
    }

    & ~ p {
      @media (min-width: $md) {
        margin-bottom: -7px;
      }
    }
  }

  a {
    color: tint($link-color, 20%);
  }

  .illustration {
    background-color: rgba(magenta, 0.2);
    grid-row: 2;
    grid-column: span 12;
    padding-top: 100%;
    position: relative;

    @media (min-width: $sm) {
      padding-top: 0;
      height: 687px;
    }

    @media (min-width: $md) {
      grid-row: initial;
      position: absolute;
      left: calc(50% + #{$grid-column-gap / 2});
      top: 0;
      width: calc(50% - #{$grid-column-gap / 2});
      height: 100%;
    }

    @include tween (
      520px,
      584px,
      $md,
      $container-fluid-max-width / ($container-fluid-width / 100%),
      min-width
    );

    @include tween (
      100px,
      0px,
      $md,
      $container-fluid-max-width / ($container-fluid-width / 100%),
      margin-left
    );
  }

  .tpy-icon {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;

    @include tween(
      96px,
      192px,
      320px,
      $sm,
      width, height
    );
  }

  .notebook-1,
  .notebook-2,
  .notebook-3 {
    width: 100px;
    height: 100px;
    position: absolute;

    @include tween(
      110px,
      220px,
      320px,
      $sm,
      width, height
    );
  }

  .notebook-1 {
    --t: 0px;

    bottom: 0;
    right: 32.42%;
    transform: translate(50%, 50%) translateY(var(--t)) rotate(-18deg);

    @include tween(0px, -48px, 320px, $sm, --t);
  }

  .notebook-2 {
    left: 0;
    top: 58.25%;
    transform: translate(-50%, -50%) translateX(-16px) rotate(81deg);
  }

  .notebook-3 {
    --t: 0px;

    left: 85.16%;
    top: 0;
    transform: translate(-50%, -50%) translateY(var(--t)) rotate(-144deg);

    @include tween(0px, 128px, 320px, $sm, --t);
  }

  [class*="pixel-"] {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;

    &.lg {
      width: 14px;
      height: 14px;
    }

    &.green {
      background-color: #67ce9d;
    }

    &.blue-dark {
      background-color: $blue-dark;
    }

    &.red {
      background-color: #f66;
    }

    &.blue-light {
      background-color: $blue-light;
    }

    &.brown {
      background-color: #736673;
    }
  }

  .pixel-1 {
    left: 52.57%;
    top: 21.83%;
  }

  .pixel-2 {
    left: 71.4%;
    top: 25.76%;
  }

  .pixel-3 {
    left: 75%;
    top: 35.52%;
  }

  .pixel-4 {
    left: 60.27%;
    top: 45.12%;
  }

  .pixel-5 {
    left: 66.78%;
    top: 48.03%;
  }

  .pixel-6 {
    left: 73.80%;
    top: 56.04%;
  }

  .pixel-7 {
    left: 94.69%;
    top: 68.41%;
  }

  .pixel-8 {
    left: 64.38%;
    top: 75.40%;
  }

  .pixel-9 {
    left: 53.94%;
    top: 72.93%;
  }

  .pixel-10 {
    left: 50.86%;
    top: 65.65%;
  }

  .pixel-11 {
    left: 48.80%;
    top: 69.29%;
  }

  .pixel-12 {
    left: 34.08%;
    top: 79.91%;
  }

  .pixel-13 {
    left: 24.32%;
    top: 58.95%;
  }

  .pixel-14 {
    left: 31.34%;
    top: 56.19%;
  }

  .pixel-15 {
    left: 34.25%;
    top: 50.22%;
  }

  .pixel-16 {
    left: 24.83%;
    top: 49.78%;
  }

  .pixel-17 {
    left: -2.74%;
    top: 39.16%;
  }

  .pixel-18 {
    left: 26.2%;
    top: 30.28%;
  }
  .pixel-19 {
    left: 45.55%;
    top: 31.44%;
  }
}
