//
// Portable projects
//

.portable-projects {
  --x: 50%;
  --y: calc(100% - 687px / 2);

  background-color: #212121;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  color: $white;
  overflow: visible;
  padding-top: $section-padding-y;
  background-image:
    radial-gradient(
      circle at var(--x) var(--y),
      $blue-dark 0,
      $blue-dark 360px,
      transparent 360px
    );

  @media (min-width: $md) {
    --y: calc(50% + 56px);
  }

  @include tween(
    calc(
      (100% - #{$container-fluid-width}) / 2
      + #{$container-fluid-width} * 0.75
      + 155px
    ),
    155px,
    0px,
    $md,
    $container-fluid-max-width / ($container-fluid-width / 100%),
    --x
  );

  @media (min-width: ($container-fluid-max-width / ($container-fluid-width / 100%))) {
    --x: calc((100% - #{$container-fluid-max-width}) / 2 + #{$container-fluid-max-width} * 0.75);
  }

  .row {
    position: relative;
  }

  .col-md-6 {
    @media (min-width: $sm) {
      padding: $section-padding-y 0;
    }

    @include tween(
      0px,
      0px,
      columns(2, $container-fluid-max-width) + $grid-column-gap,
      $sm,
      $container-fluid-max-width / ($container-fluid-width / 100%),
      padding-right
    );
  }

  h2 {
    margin: 0;

    @media (min-width: $sm) {
      margin: 0 0 ($section-padding-y * 5 / 8 - $section-padding-y - 20px);
      text-align: left;
    }

    @media (min-width: $md) {
      text-align: center;
    }
  }

  h3 {
    margin: 0 0 12px;
  }

  p {
    color: #bbb;
    font-size: 24px;
    line-height: (4 / 3);
    margin: 0;
    letter-spacing: -0.01em;

    & + h3 {
      margin-top: $space-lg;
    }

    & ~ p {
      margin-bottom: -7px;
    }
  }

  a {
    color: tint($link-color, 20%);
  }

  .tpy-icon {
    width: 192px;
    height: 192px;
    background-color: $blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .illustration {
    background-color: rgba(magenta, 0.2);
    grid-row: 2;
    grid-column: span 12;
    height: 687px;
    position: relative;

    @media (min-width: $md) {
      grid-row: initial;
      position: absolute;
      left: 50%;
      top: 0;
      width: 50%;
      height: 100%;
    }

    @include tween (
      536px,
      536px,
      600px,
      $md,
      $container-fluid-max-width / ($container-fluid-width / 100%),
      min-width
    );

    @include tween (
      100px,
      100px,
      0px,
      $md,
      $container-fluid-max-width / ($container-fluid-width / 100%),
      margin-left
    );
  }

  .notebook-1 {
    width: 200px;
    height: 200px;
    background-color: $gray;
    position: absolute;
    bottom: 0;
    right: 32.42%;
    transform: translate(50%, 50%) translateY(-48px) rotate(-18deg);
  }

  .notebook-2 {
    width: 200px;
    height: 200px;
    background-color: $gray;
    position: absolute;
    left: 0;
    top: 58.25%;
    transform: translate(-50%, -50%) rotate(81deg);
  }

  .notebook-3 {
    width: 200px;
    height: 200px;
    background-color: $gray;
    position: absolute;
    left: 85.16%;
    top: 0;
    transform: translate(-50%, -50%) translateY(128px) rotate(-144deg);
  }
}
