//
// Trademark
//

.trademark {
  padding-bottom: $section-spacing-y-phone - 22px;

  @media (min-width: $sm) {
    padding-bottom: $section-spacing-y - 22px;
  }

  h1,
  h2 {
    @media (min-width: $sm) {
      text-align: center;
    }
  }

  h1 {
    margin-top: 2 * $section-spacing-y-phone * 3 / 4 - 78px;
    margin-bottom: 16px;

    @media (min-width: $sm) {
      margin-top: 2 * $section-spacing-y * 3 / 4 - 115px;
    }
  }

  h2 {
    margin-top: $section-spacing-y-phone * 3 / 4 - 16px;
    margin-bottom: $font-size-base;

    @media (min-width: $sm) {
      margin-top: $section-spacing-y * 3 / 4 - 18px;
    }
  }
}
