//
// Type
//

body {
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

h2 {
  font-size: 36px; // 3/4
  letter-spacing: -0.015em;

  @media (min-width: $sm) {
    font-size: 48px;
  }
}

h3 {
  font-size: 32px * 3 / 4 ;
  letter-spacing: -0.01em;

  @media (min-width: $sm) {
    font-size: 32px;
  }
}
