//
// Variables
//

// Colors

$blue-light:   #68c1e8;
$blue:         #5c93e5;
$blue-dark:    #395bac;
$blue-darkest: #060d2e;
$red:          #e62e2e;
$green:        #67ce9d; // Same as in hero illustration;

$white:         #fff;
$gray-lightest: #f0f0f5; // 2% saturation
$gray-lighter:  #e6e6eb; // 2% saturation
$gray-light:    #dddde1; // 2% saturation
$gray:          #77777c; // 4% saturation
$gray-dark:     #515154; // 4% saturation
$black:         #101012; // 8% saturation

$brand-primary: $blue;

// Spacing

$space-min:  4px;
$space-xs:   8px;
$space-sm:   12px;
$space-md:   16px;
$space-lg:   24px;
$space-xl:   32px;
$space-xxl:  48px;
$space-xxxl: 64px;

// Base

$body-color:  $black;
$focus-color: $brand-primary;
$link-color:  mix($blue, $blue-dark, 75%);

// Type

$font-family-base:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: "SFMono-Regular", Menlo, Consolas, Monaco, "Courier New", monospace;
$font-size-base:        16px;
$font-size-large:       21px;
$line-height-base:      1.5;

$headings-line-height: 1.1;
$headings-font-weight: 600;

// Grid

$container-fluid-width: 100% * 5 / 6; // 64px margin on portrait tablet
$container-fluid-max-width: 1200px;

$grid-column-gap: $space-xl;

// Breakpoints

$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1440px;

// Z-index master list

$z-index-dropdown:    1020;
$z-index-header:      1030;
$z-index-backdrop:    1040;
$z-index-modal:       1050;

// Layout

$section-spacing-y: 128px;
$section-spacing-y-phone: 80px; // 5/8

// Components

// Header
$header-color:         $black;
$header-inverse-color: $white;
$header-height:        96px;
$header-height-mobile: 64px;

// Footer
$footer-color:  $body-color;

// Blog
$blog-max-width: 700px;
$blog-font-size: 17px;
$blog-line-height: 1.6;
$blog-link-color: mix(#4848b3, $blue, 50%);
