//
// Variables
//

// Colors

$blue-light: #68c1e8;
$blue:       #5c93e5;
$blue-dark:  #395bac;

$white:      #fff;
$gray-light: #ebebeb;
$gray:       #777;
$gray-dark:  #555;
$black:      #111;

$brand-primary: $blue;

// Spacing

$space-min: 4px;
$space-xs:  8px;
$space-sm:  12px;
$space-md:  16px;
$space-lg:  24px;
$space-xl:  32px;

// Base

$body-color: $black;

// Type

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-base:   16px;
$line-height-base: 1.5;

$headings-line-height: 1.1;
$headings-font-weight: 600;

// Grid

$grid-gutter-width: $space-xl;

// Breakpoints

$sm: 768px;
$md: 1024px;
$lg: 1200px;

// Z-index master list

$z-index-header: 1010;

// Components

// Header
$header-color:         #111;
$header-home-color:    #fff;
$header-height:        96px;
$header-height-mobile: 64px;

// Footer
$footer-color:  $body-color;
