---
js: /assets/javascripts/main.js
---

<!doctype html>
<html lang="en" class="{{ page.class}}{{layout.class}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <meta name="twitter:image" content="https://tropy.org/twitter-icon-1.1.png">
    {%- feed_meta -%}
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    {%- if layout.loading-js -%}
      {%- include {{ layout.loading-js }} -%}
    {%- endif -%}
  </head>
  <body>
    {%- include header.html -%}
    <main>
      {{ content }}
    </main>
    {%- include footer.html -%}
    <script type="module" src="{{ layout.js }}"></script>
  </body>
</html>
