---
layout: default
author: test
---

<div class="blog home">
  <div class="container-fluid">
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- if site.posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h2>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
          <p class="post-meta">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if post.author -%}
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="author h-card" itemprop="name">{{ post.author }}</span>
              </span>
            {%- endif -%}
          </p>
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
